[Unit]
Description=RobotBar
After=multi-user.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5s
StartLimitInterval=0s
# Confirm the paths below during install
WorkingDirectory=/home/pi/working/robotbar
ExecStart=/home/pi/working/robotbar/venv3/bin/python /home/pi/working/robotbar/robotbar.py

[Install]
WantedBy=multi-user.target
